img
{
	width:110px;
	height:110px;
}
#emitra
{
	font-size:17px;
	position:relative;
	padding-left:176px;
	margin:-51px;
}
#portal{
	margin-left:450px;
	font-family: 'bitter', serif;
	
	
}
